
<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-warning">Products</h5>

                <p>
                    <a [routerLink]="['/manager/about']" class="text-white" style="text-decoration: none;">Investment</a>
                </p>
                <p>
                    <a [routerLink]="['/manager/about']" class="text-white" style="text-decoration: none;">Fatal disease</a>
                </p>
                <p>
                    <a [routerLink]="['/manager/about']" class="text-white" style="text-decoration: none;">Medical support</a>
                </p>
                <p>
                    <a [routerLink]="['/manager/about']" class="text-white" style="text-decoration: none;">Protect your family</a>
                </p>
                <p>
                    <a [routerLink]="['/manager/about']" class="text-white" style="text-decoration: none;">Accidents & Injuries</a>
                </p>

            </div>
            <div class="col-md- col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-warning">Insurance Benefits</h5>
                <p>
                    <a  class="text-white">Contact us</a>
                </p>
                <p>
                    <a  class="text-white">Health care</a>
                </p>
                <p>
                    <a  class="text-white">Injury due to accident</a>
                </p>
                <p>
                    <a [routerLink]="['/manager/policy']" class="text-white">Our Policy</a>
                </p>

            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-warning">May we help you</h5>
                <p>
                    <a [routerLink]="['/manager/request']" class="text-white">Requests & forms</a>
                </p>
                <p>
                    <a [routerLink]="['/manager/about']" class="text-white">Pay insurance premiums</a>
                </p>
                <p>
                    <a [routerLink]="['/manager/about']" class="text-white">Frequently asked questions</a>
                </p>
                <p>
                    <a [routerLink]="['/manager/about']" class="text-white">Pay insurance premiums</a>
                </p>
                <p>
                    <a [routerLink]="['/manager/about']" class="text-white">Interest rate information</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mt-3">
                <h5 class="text-warning">Contact</h5>
                <p>
                    <i class="pi pi-phone" ></i> +(84)7756789
                </p>
                <p>
                    <i class="pi pi-envelope"></i> Insur@gmail.com
                </p>

            </div>
            <hr class="mb-4">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                     <p >Copyright @2021 All rights reserved by:
                         <a [routerLink]="['/manager/about']" class="text-warning">
                             <strong>Health Insurance</strong>
                         </a>
                         </p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                         <ul class="list-unstyled list-inline">
                             <li class="list-inline-item">
                                <a href="https://www.apple.com/" class="btn-floating btn-sm text-white"><i class="pi pi-twitter" style="font-size: 23px"></i></a>
                             </li>
                             <li class="list-inline-item">
                                <a href="https://www.paypal.com/" class="btn-floating btn-sm text-white"><i class="pi pi-paypal" style="font-size: 23px"></i></a>
                           </li>
                           <li class="list-inline-item">
                            <a href="https://www.vimeo.com/" class="btn-floating btn-sm text-white"><i class="pi pi-vimeo" style="font-size: 23px"></i></a>
                       </li>
                       <li class="list-inline-item">
                        <a href="https://www.youtube.com/" class="btn-floating btn-sm text-white"><i class="pi pi-youtube" style="font-size: 23px"></i></a>
                   </li>
                   <li class="list-inline-item">
                    <a href="https://www.apple.com/" class="btn-floating btn-sm text-white"><i class="pi pi-apple" style="font-size: 23px"></i></a>
               </li>
               <li class="list-inline-item">
                <a href="https://www.facebook.com/" class="btn-floating btn-sm text-white"><i class="pi pi-facebook" style="font-size: 23px"></i></a>
           </li>

                         </ul>
                    </div>
    
                </div>
            </div>

        </div>
    </div>

</footer>


